.light-bg {
    color: black;
    background-color: #f6f6f6;
    transition: .5s;
}

.lighter-bg {
    color: black;
    background-color: #ffffff;
    transition: .5s;
}

.dark-bg {
    color: white;
    background-color: #2D2D2D;
    transition: .5s;
}

.darker-bg {
    color: white;
    background-color: #272727;
    transition: .5s;
}

#welcome {
    margin: 2em 0;
}

#hello {
    font-size: 3em;
    cursor: pointer;
}

#welcome p {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.entry {
    padding: .75em 2em;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}

.entry .file {
    display: block;
    font-size: 20px;
}

.entry .date {
    display: block;
    font-size: 14px;
    margin: 0;
    opacity: 0.4;
}

.entry:hover {
    color: white;
    background-color: #007AFF;
}