body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    text-align: center;
    background-color: #f6f6f6;
}

h1 {
    margin: .5em 0;
    font-weight: 800;
}

h2, h3, h4 {
    font-weight: 600;
}

input[type='text'], select {
    font-size: 1em;
    padding: .75em;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

select {
    font-size: 1em;
    color: #666666;
    width: 15em;
    height: 2.5em;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.01);
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.m-card {
    padding: 2em 5em;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);
}

.col-12 {
    margin-top: 3em;
}

.img-choice {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
}

.selected {
    background-color: #007AFF;
}

.m-disabled {
    opacity: 0.6;
    pointer-events: none;
}

.feedback {
    display: none;
    font-weight: bold;
    color: #4BD964;
    padding-top: 1em;
}

#stats {
    color: gray;
    margin: 1em 0;
}