body {
    background-color: #eeeeee;
    font-family: "Montserrat";
}

header, main, nav, footer {
    text-align: center;
}

a {
    color: #6fa5fc;
}

main {
    display: flex;
    justify-content: center;
    margin: 0em 2em;
}


nav a {
    padding: 15px;
    font-size: 1.8em;
    text-decoration: none;
    color: #aaaaaa;
}

nav a:hover {
    color: #6fa5fc;
    transition: .5s;
}

nav #current {
    color: black;
    transition: .5s;
}

nav #current:hover {
    color: #4f92ff;
}

#me img {
    width: 300px;
    border-radius: 500px;
    border: 5px solid white;
    box-shadow: 0 5px 20px -10px rgba(0,0,0,0.75);
}

#welcome {
    width: 40%;
    text-align: left;
}

footer {
    font-size: 14px;
    color: #aaaaaa;
}

#csumb-logo {
    margin-top: 1em;
    border-radius: 50px;
}

#content {
    text-align: center;
}


hr {
    width: 50%;
}

table {
    margin: 0 auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

#table-header {
    color: white;
    background-color: #4286f4;
}

.table-row {
    color: white;
    background-color: #6fa5fc;
}

ul {
    text-align: center;
    padding-left: 0px;
    list-style: none;
}

.hobby {
    color: #4286f4;
    font-weight: bold;
    font-size: 1.25em;
}