body {
    margin-top: 2em;
}

header {
    background-size: cover;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4selZ8kceikbmag5q/videoblocks-broker-trading-bitcoin-cryptocurrency-on-exchange-with-price-evolution-candle-chart_btopx-som_thumbnail-full01.png);
}


.text-detail {
    margin: 0;
    color: rgba(255, 255, 255, 0.75);
}

select, input[type='number'] {
    height: 2.5em;
    padding: 0 10px;
    margin-bottom: 1em;
    outline: none;
    border-radius: 5px;
}

#price-check select, #price-check input[type='number'] {
    border: 1px solid #28A745;
}

#convert select, #convert input[type='number'] {
    border: 1px solid #017BFF;
}

#convert input[type='number']::placeholder {
    color: #017BFF;
    opacity: 0.6;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

td, th {
    padding: 1em .5em;
    white-space: nowrap;
}

#top-10, #price-check, #convert {
    margin-bottom: 2em;
}

@media (max-width: 767px) {
    table {
        display: block;
        overflow-x: auto;
        width: 100%;
        max-width: 100%;
    }
}

i {
    opacity: 0.6;
    font-size: 0.8em;
}

span[id^="change-"] {
    padding: .5em;
    border-radius: 5px;
}

footer  p {
     margin: 0;
 }
 
 footer {
     margin: 1em 0;
 }