body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}

code {
    font-size: 1.25em;
    color: #1976d2;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 100%;
    background-color: #1976d2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    color: #eceff1;
    margin-top: 10px;
    padding: .9em;
    text-decoration: none;
    transition: .25s;
}

nav a:hover {
    color: white;
    padding: .9em;
    padding-bottom: 10px;
    border-bottom: 4px solid white;
}

#current {
    color: #1976d2;
    font-weight: bold;
    background-color: white;
    border-radius: 5px 5px 0 0;
}

#home {
    width: 100%;
    text-decoration: none;
    color: white;
}

.header-image {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
}

#header-overview {
    background-image: url("../img/binary-header.jpg");
}

#header-intro {
    background-image: url("../img/circuit-header.jpg");
}

#header-convert {
    background-image: url("../img/numbers-header.jpg");
}

#header-arithmetic {
    background-image: url("../img/math-header.jpg");
}

main {
    display: flex;
    flex-direction: column;
    margin: 3% 20%;
}

table {
    width: 75%;
    margin: 0 auto;
}

tr {
    text-align: left;
    color: white;
    font-weight: bold;
    background-color: #004ba0;
}

td, th {
    padding: 20px;
}

td {
    font-weight: normal;
    background-color: #63a3ff;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 3em;
}

footer a {
    align-self: center;
}

button {
    margin: 0 auto;
    padding: 1.25em 1.5em;
    color: white;
    font-size: 1em;
    background-color: #1976d2;
    transition: .5s;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #004a9f;
}

#done {
    color: #1976d2;
    text-align: center;
}

#conversion {
    font-size: 2.5em;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row img {
    align-self: center;
}