h1, h2, h3, h4 {
    font-family: "Open Sans";
    font-weight: bold;
}

p, a {
    font-size: 18px;
    font-family: "Hind";
}

#header {
    color: white;
    padding: 2em 1em;
    background-color: #0B2A4B;
}

a {
    color: #4c6b83;
    font-size: 1.25em;
    text-decoration: underline;
}